@import url(http://fonts.googleapis.com/css?family=Roboto:900,400);

html, body {
  min-height: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
}

body {
  background: #f0f0f0;
  color: #212121;
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

/*
* Components
*/
.topbar {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #05384C;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  height: 3em;
  line-height: 3em;
  position: fixed;
  bottom: 0;
  z-index: 1;
}
.topbar a {
  display: block;
  color: #fff;
}

.active-nav {
  position: relative;
}
.active-nav__bar {
  background-color: #0E9FD8;
  top: 2.5em;
  position: absolute;
  width: 25%;
  height: 0.5em;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.show-0 .active-nav__bar {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.show-1 .active-nav__bar {
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}
.show-2 .active-nav__bar {
  -webkit-transform: translate3d(200%, 0, 0);
          transform: translate3d(200%, 0, 0);
}
.show-3 .active-nav__bar {
  -webkit-transform: translate3d(300%, 0, 0);
          transform: translate3d(300%, 0, 0);
}

.carousel {
  min-height: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  -webkit-transform-style: preserve-3d;
  overflow: hidden;
}
.carousel > ul {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  height: 100%;
  list-style: none outside;
  margin: 0;
  overflow: hidden;
}
.carousel > ul.animate {
  -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
          transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.carousel > ul > li {
  height: 100%;
  float: left;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.page {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 10em;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Utils */
.start-case {
  text-transform: capitalize;
}
.l-pad-content {
  padding-left: 1em;
  padding-right: 1em;
}
