<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{ .title }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="static/apple-touch-icon.png">
    <link rel="icon" sizes="192x192" href="icon.png">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href ="//cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.min.css">
    <link href="/static/styles.css" rel="stylesheet" />
  </head>
  <body>
    <main id="carousel" class="carousel" role="main">
      <ul>
        {{ range .reports }}
          <li class="page page-{{ .Coast }}">
            <header>
              <div class="row">
                <div class="column small-12">
                  <h1 class="coast-title start-case">{{ .Coast }}</h3>
                </div>
              </div>
            </header>

            {{ range .Today }}
              <article class="show-for-landscape">
                <div class="row">
                  <div class="column small-7">
                    <div class="row">
                      <div class="column small-6">
                        <h1 class="horizontal-surf surf-size" data="{{ .Haw }}">{{ .Haw }}</h1>
                      </div>
                      <div class="column small-6">
                        <h2 class="horizontal-swell">{{ .Wind }}</h2>
                      </div>
                    </div>
                  </div>
                  <div class="horizontal-note column small-5">
                    <p class="note start-case">{{ .Note }}</p>
                  </div>
                </div>
              </article>

              <article class="flex-center surf-report hide-in-landscape">
                <p class="note start-case">{{ .Note }}</p>
                  <div class="flex-center frame">
                    <h1 class="main-surf surf-size" data="{{ .Haw }}">{{ .Haw }}</h1>
                    <h2 class="main-swell">{{ .Wind }}</h2>
                  </div>
              </article>

              <section class="stats-bar">
                <div class="row">
                  <div class="column small-6">
                    <p class="today-report-date stat start-case" data="{{ .Report }}">{{ .Report }}</p>
                  </div>
                  <div class="column small-6">
                    <p class="stat start-case">{{ .Scale }}</p>
                  </div>
                </div>
              </section>
            {{ end }}

            <section class="week-reports">
              <div class="row">
                {{ range .Week }}
                  <div class="column small-3 day-report">
                    <p class="day-report-date" data="{{ .Report }}">{{ .Report }}</p>
                    <h5 class="surf surf-size" data="{{ .Haw }}">{{ .Haw }}</h5>
                    <div class="swell">{{ .Wind }}</div>
                  </div>
                {{ end }}
              </div>
            </section>
          </li>
        {{ end }}
      </ul>
    </main>

    <nav class="topbar" role="navigation" class="valign-center">
      <div class="row collapse text-center">
        {{ range $i, $val := .reports }}
          <div class="column small-3">
            <a class="start-case" href="#" data-nav="" data-show="{{ $i }}">{{ .Coast }}</a>
          </div>
        {{ end }}
        <div class="active-nav"><div class="active-nav__bar"></div></div>
      </div>
    </nav>

    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.slim.min.js"></script>
    <script src="//cdn.jsdelivr.net/hammerjs/2.0.4/hammer.min.js"></script>
    <script src="/static/slide.js"></script>
  </body>
</html>
