<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{ .title }}</title>
    <link rel="stylesheet" type="text/css" href ="//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.6/css/normalize.min.css">
    <link rel="stylesheet" type="text/css" href ="//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.6/css/foundation.min.css">
    <link href="/static/styles.css" rel="stylesheet" />
  </head>
  <body>

    <nav class="topbar" role="navigation" class="valign-center">
      <div class="row collapse text-center">
        {{ range $i, $val := .reports }}
          <div class="column small-3">
            <a href="#" data-nav="" data-show="{{ $i }}">{{ .Coast }}</a>
          </div>
        {{ end }}
        <div class="active-nav"><div class="active-nav__bar"></div></div>
      </div>
    </nav>

    <main id="carousel" class="carousel" role="main">
      <ul>
        {{ range .reports }}
          <li class="page page-{{ .Coast }}">
            <h2>{{ .Coast }}</h2>
            {{ range .Data }}
              <h5 class="date">{{ .Report }}</h5>
              Swell: {{ .Wind }}
              Hawaiian: {{ .Haw }}ft
              Haole: {{ .Face }}ft
              Steh: {{ .Scale }}
              {{if .Note -}}
                Ho Brah: {{ .Note }}
              {{- end}}
            {{ end }}
          </li>
        {{ end }}
      </ul>
    </main>

    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/hammerjs/2.0.4/hammer.min.js"></script>
    <script src="/static/slide.js"></script>
  </body>
</html>
